<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body> 
<header class="header">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="img/ordem.png" alt="Logo" style="max-height: 50px;">
      </a>
    </div>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>

    <nav class="navbar">
      <div class="navbar-menu">
        <a class="navbar-link" href="{{ site.baseurl }}/#about">About</a>
        <a class="navbar-link" href="{{ site.baseurl }}/#call-for-presentations">Call for Presentations</a>
        <div class="navbar-item dropdown">
          <a class="navbar-link">Schedule</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/2025-online-schedule">ORDEM 2025</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/2024-online-schedule">ORDEM 2024</a>
          </div>
        </div>
        <a class="navbar-link" href="{{ site.baseurl }}/#code-of-conduct">Code of Conduct</a>
      </div>
    </nav>
  </div>
</header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>© 2025 Open Research Devroom</p>
  </footer>
</body>
</html>
